body
{
	font-family: Calibri, Tahoma;
	font-size: 16px;
}

div#app-holder
{
	width: 890px;
	margin-left:10px;
}

div#app-holder div.loading
{

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background-color: white;
}

div#app-holder div#tabs
{
	border-bottom: 1px solid #059BDA;
	margin-top: 10px;
	position: relative;
	width: 100%;
}
div#app-holder div#tabs ul
{
	margin: 0;
	padding: 0;
}
div#app-holder div#tabs ul li
{
	background-color: #E5E4E4;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-family: Calibri;
	font-size: 12pt;
	font-weight: normal;
	height: 100%;
	margin-right: 2px;
	padding: 5px 10px;
	text-decoration: none;
}
div#app-holder div#tabs ul li.active
{
	background-color: #059BDA;
	color: #FFFFFF;
	font-weight: bold;
}

.map-tooltip
{
	position: absolute;
	display: block;
	z-index: 1500;
}

.map-tooltip-cont
{
	display: block;
	padding: 2px 5px 2px 5px;
	background: black;
	border: 3px solid;
	font: Normal 10pt arial, sans-serif;
	color: white;
	opacity: 0.85;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


/* Index page */

div#ftt-index div#text p
{
	text-align: justify;
}

div#ftt-index ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

div#ftt-index ul li
{
	width: 210px;
	height: 150px;
	display: inline-block;
	text-align: center;
}

ul.ftt-charts li p a
{
	border-bottom: 1px dotted;
	color: #222222;
	font-weight: bold;
	text-decoration: none;
}

div#ftt-index ul li div
{
	height: 100px;
	width: 210px;
}

div#ftt-index a#explore-forecasting
{
	background-image: url("/img/button-explore-forecasting.png");
	background-position: 0 0;
	display: inline-block;
	height: 50px;
	width: 259px;
}

div#ftt-index a#explore-forecasting:hover
{
	background-position: 0 50px;
}

div#ftt-index h3
{
	height:50px;	
}

div#ftt-index h3 span.selected
{
	border-bottom: medium none;
	color: #059BDA;
	cursor: pointer;
}

div#ftt-index h3 span
{
	border-bottom: 1px dotted #222222;
	cursor: pointer;
}

div#ftt-index div#tooltip
{
	background-color: #dce6f1;
	position: fixed;
	font-size: 10pt;
	font-family: Calibri;
	white-space: nowrap;
	z-index: 100;
	box-shadow: 0 0 5px 0 #A3A3A3;
}

/* Selection page */

div#ftt-selection div a
{
	border-bottom: 1px dashed;
	text-decoration: none;
}

div#ftt-selection table
{
	width: 100%;
}

div#ftt-selection table td#left
{
	width: 50%;
	border-right: 1px dashed #606369;
	vertical-align: top;
}

div#ftt-selection table div#countries div a, div#ftt-selection table div#indicators div a
{
	border-bottom: 1px dotted #606369;
	color: #222222;
	cursor: pointer;
	text-decoration: none;
}

div#ftt-selection table td#left div#filter
{
	padding-bottom: 5px;
}

div#ftt-selection table td#right
{
	vertical-align: top;
}

div#ftt-selection table td#right div#indicators
{
	padding-left: 10px;
}

/*Explore page*/

div#ftt-explore div#header a
{
	border-bottom: 1px dashed;
	text-decoration: none;
	float: right;
}

div#ftt-explore div#filter
{
	padding: 5px 0px;
	display: none;
}

div#ftt-explore div#list div#parameter
{
	width: 450px;
	display: inline-block;
	float: left;
}
div#ftt-explore div#list div#parameter div.country div
{
	font-weight: bold;
}

div#ftt-explore div#header div
{
	font-size: 115%;
	font-weight: bold;
}

div#ftt-explore div#list div#agency
{
	width: 330px;
	text-align: right;
	display: inline-block;
	float: left;
}
div#ftt-explore div#list div#horizon
{
	width: 110px;
	text-align: right;
	display: inline-block;
}

div#ftt-explore div.tab-content.hidden
{
	display: none;
}

div#ftt-explore div.country
{
	border-bottom: 1px dotted #606369;
	padding: 5px 0;
}

div#ftt-explore div.country.expanded
{
	height: 370px;
}

div#ftt-explore div.country a.source-color
{
	border: medium none;
	display: inline-block;
	height: 12px;
	margin-right: 5px;
	text-decoration: underline;
	vertical-align: middle;
	width: 12px;
}

div#ftt-explore div.country span.source
{
	border-bottom: 1px solid #606369;
	color: #606369;
	cursor: pointer;
}

div#ftt-explore div.country span.year
{
	border-bottom: 1px solid #0066CC;
	color: #0066CC;
	cursor: pointer;
	margin-left: 8px;
}
div#ftt-explore div.country div.chart
{
	height: 300px;
	padding-top: 10px;
	position: absolute;
	width: 850px;
	z-index: 100;
}

div#ftt-explore div#table table
{
	width: 850px;
	border-collapse: collapse;
}

div#ftt-explore div#table table th
{
	font-weight: bold;
	text-align: left;
}

div#ftt-explore div#table table td, th
{
	border: 1px solid #CCCCCC;
	padding: 5px;
}

div#ftt-explore div#table div#legend-header
{
	padding: 10px 0px;
	font-weight: bold;
}

div#ftt-explore div#table div#legend-header a.source-color
{
	border: medium none;
	display: inline-block;
	height: 12px;
	margin-right: 5px;
	text-decoration: underline;
	vertical-align: middle;
	width: 12px;
}

div#ftt-explore div#table table td .source-color
{
	margin-right: 0;
	width: 100%;
	border: medium none;
	display: inline-block;
	height: 12px;
	text-decoration: underline;
	vertical-align: middle;
}

div#ftt-explore div#table div#legend-header div#tableLegend
{
	float: right;
}

div#ftt-explore div#table div#statisticsOneYear
{
	height: 200px;
	width: 850px;
}

div#ftt-explore div#table div#statisticsTwoYears
{
	height: 200px;
	width: 850px;
}

div#ftt-explore div#map div#map-header
{
	padding: 10px 0px;
	font-weight: bold;
}

div#ftt-explore div#map div#map-header span
{
	cursor: pointer;
}

div#ftt-explore div#map div#map-header span.selected
{
	border-bottom: medium none;
	color: #059BDA;
	cursor: pointer;
}


div#ftt-explore div#map div#map-header a.source-color
{
	border: medium none;
	display: inline-block;
	height: 12px;
	margin-right: 5px;
	text-decoration: underline;
	vertical-align: middle;
	width: 12px;
}
div#ftt-explore div#map div#map-header div
{
	float: right;
}

div#ftt-explore div#map div#ftt-map
{
	height: 600px;
	width: 100%;
}
